{% load static %}
<style>
    .bg1 {
         background-image: url({% static 'images/c1.png' %});
    }
  
    .bg2 {
         background-image: url({% static 'images/MNDAA.png' %});
    }
  
    .bg3 {
         background-image: url({% static 'images/woman.jpg' %});
    }
  </style> 
<div  style="margin-top: 7rem;"  id="carouselId" class="carousel slide container-fluid upper-second" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="big-img bg1"></div>
      </div>
      <div class="carousel-item">
        <div class="big-img bg2"></div>
      </div>
      <div class="carousel-item">
        <div class="big-img bg3"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
</div>