{% load static %}
<div class="col-md-3">
    <div class="card mt-4" style="border-top: 0px;">         
      <div>
        <h4 align="center" style="background-color: #343172;" class="bold color-white pb-2 pt-2">မြန်မာအမျိုးသားဒီမိုကရက်တစ် မဟာမိတ်တပ်မတော် (MNDAA)</h4>
        <!-- history image -->
        <img alt="" class="img-thumbnail my-thumbnail p-0" src="{% static 'images/MNDAA.png' %}" style="margin-top: -8px;border-radius: 0px;"></img>
        <p style="font-size: 15px;" class="px-3"><span class="bold" style="font-size: 28px;">"</span>

          တပ်မတော် အမည် ။		။ မြန်မာအမျိုးသားဒီမိုကရက်တစ် မဟာမိတ်တပ်မတော် (MNDAA)။
          တည်ထောင်ခုနစ်။		။၁၉၈၉ ခုနှစ် မတ်လ ၁၁ ရက်။
          
          တည်ထောင်သူ။		။ဦးဖုန်ကြားရှင်။
          လက်ရှိ စစ်ဦးစီးချုပ် (Commander)
          ဖုန်တဲရင်(ငယ်အမည်-ဖုန်တာရွှင်) ။		။ ၂၀၁၀ ခုနှစ်တွင် စစ်ဦးစီးချုပ်ရာထူးအား စတင် တာဝန်ထမ်းဆောင်ခဲ့ပြီး ၊၂၀၁၃ ခုနှစ်တွင် မြန်မာနိုင်ငံအမှန်တရားနှင့် တရားမျှတသော အမျိုးသားပါတီ၏ ယာယီအထွေထွေအတွင်းရေးမှူးအဖြစ် တာဝန်ထမ်းဆောင်ခဲ့သည်၊၂၀၁၆ ခုနှစ်တွင် မြန်မာနိုင်ငံအမှန်တရားနှင့် တရားမျှတသော အမျိုးသားပါတီ၏ အထွေထွေအတွင်းရေးမှူးအဖြစ် ရွေးချယ်ခံခဲ့ရပြီး ၂၀၂၃ ခုနှစ် မတ်လ ၁၁ ရက်နေ့တွင် ဒုတိယ ဗိုလ်ချုပ်ကြီးရာထူးအား ပေးအပ်ခြင်းခံရသည်။
          
          ဒုတိယ စစ်ဦးစီးချုပ်။		။ရန်ဝန်ကျိုး (ဗိုလ်ချုပ်) မြန်မာနိုင်ငံအမှန်တရားနှင့် တရားမျှတသော အမျိုးသားပါတီ၏ဒုတိယအတွင်းရေးမှူး၊ဖုန်းတဲကျွန်း(ဗိုလ်ချုပ်)မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော်(MNDAA)၏ပူးတွဲ စစ်ဦးစီးမှူး (Concurrently Chief of Staff)။		
          
          လှုပ်ရှားဒေသ။		။ကိုးကန့်၊သံလွင်မြစ် အနောက်ဘက် မုံးကိုး (MengGu)၊ကွတ်ခိုင်၊မူပန် (သိန္နီး) (MuBang)စသည့် ဒေသ။
          <a href="{% url 'frontend.my.leader' %}">read more</a></p>
        <!-- end of history image -->

        <h4 align="center" style="background-color: #343172;border-radius: 0px;" class="bold color-white pb-2 pt-2">FPNCC Member</h4>
        <!-- history image -->
        <img alt="" class="img-thumbnail my-thumbnail p-0" src="{% static 'images/FPNCC.png' %}" style="margin-top: -8px;border-radius: 0px;"></img>
        <p style="font-size: 15px;" class="px-3"><span class="bold" style="font-size: 28px;">"</span>Building Peace for all peoples of Myanmar, we are committed to establishing a genuine federal union in which the rights of self-determination, regional autonomy and equality are guaranteed."...he aim The aim of the FPNCC is to negotiate and consult with the government of Myanmar in order to resolve the world's longest ethnic conflict and civil war through a peaceful political means ... <a href="../alliance/fpncc.html">read more</a></p></p>
        <div class="row">
          <div class="col-4">
            <p align="center">
              <a href="">
                <img class="mb-2 img-thumbnail my-thumbnail" width="200px" src="{% static 'images/Arakan_Army_Flag_logo.png' %}" alt="">
              </a>
              <a href="">ULA/AA</a>
            </p>
          </div>
          <div class="col-4">
            <p align="center">
              <a href="">
                <img class="mb-2 img-thumbnail my-thumbnail" width="200px" src="{% static 'images/MNDAA_logo.png' %}" alt="">
              </a>
              <a href="">MNTJP/MNDAA</a>
            </p>
          </div><div class="col-4">
            <p align="center">
              <a href="">
                <img class="mb-2 img-thumbnail my-thumbnail" width="200px" src="{% static 'images/TNLA flag_logo.png' %}" alt="">
              </a>
              <a href="">PSLF/TNLA</a>
            </p>
          </div>
        </div>
        <!-- end of history image -->

        <h4 align="center" style="background-color: #343172;border-radius: 0px;" class="bold color-white pb-2 pt-2">Northern Alliance</h4>
        <!-- history image -->
        <img alt="" class="img-thumbnail my-thumbnail p-0" src="{% static 'images/Northern Alliance.jpg' %}" style="margin-top: -8px;border-radius: 0px;"></img>
        <p style="font-size: 15px;" class="px-3"><span class="bold" style="font-size: 28px;">M</span>orem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus molestias dignissimos nihil reiciendis nam doloribus. Tempora, vero iste dignissimos non, nesciunt, in velit neque unde odio ut eveniet deserunt nulla?amet consectetur adipisicing elit. Temporibus molestias dignissimos nihil reiciendis nam doloribus. Tempora, vero iste dignissimos non, nesciunt, in velit neque unde odio ut eveniet deserunt nulla?amet consectetur adipisicing elit. Temporibus molestias dignissimos nihil reiciendis nam doloribus. Tempora, vero iste dignissimos non, nesciunt, in velit neque unde odio ut eveniet deserunt nulla?</p>
        <!-- end of history image -->
      </div>
    </div>
  </div>