{% extends 'frontend/my/layouts/master.html' %}
{% load static %}
{% block title %}
ကျွန်ုပ်တို့၏ ခေါင်းဆောင်
{% endblock title %}
{% block content %}
<style>
  @media (max-width : 767px ){
    .modified-mndaa-web{
        display: none;
    }
    .modified-mndaa-mobile{
        display: initial !important;
    }
}
.modified-mndaa-mobile{
    display: none;
    padding: 0px;
}

.text {
    margin-top: -10px;
    line-height: 27px;
    text-align: justify;
}

div.gallery {
    float: left;  
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.gallery1 {
    float: right;
}
</style>
  <div class="fix-top">
  
</div>


  <!-- body -->
  <div class="my-container px-5" style="margin-top:260px">
    <div class="upper-second">
      <div class="gallery">
        <img width="350px" align="left" src="{% static 'images/leader.jpg' %}" class="my-thumbnail img-thumbnail pe-4">
        <div class="desc"><p><small>တည်ထောင်သူ - ဦးဖုန်ကြားရှင်</small></p></div>
      </div>
      <h2 class="mt-2 fw-bold">ခေါင်းဆောင်</h2>
        <p>တပ်အမည်။ ။&nbsp; မြန်မာအမျိုးသားဒီမိုကရက်တစ် မဟာမိတ်တပ်မတော် (MNDAA)
        <p>ပါတီ  ။   ။&nbsp; မြန်မာနိုင်ငံအမှန်တရားနှင့် တရားမျှတသော အမျိုးသားပါတီ (MNTJP)</p>
        <p><b>တည်ထောင်ခုနစ်</b></p>
        <p class="text">၁၉၈၉ ခုနှစ် မတ်လ ၁၁ ရက်</p> 
        <p><b>တည်ထောင်သူ </b></p>
        <p class="text">ဦးဖုန်ကြားရှင်</p>  
        <p><b>လက်ရှိ စစ်ဦးစီးချုပ် (Commander) </b></p>
        <p class="text">&nbsp; &nbsp; &nbsp; အမည်။		။ ဦးဖုန်တဲရင် (ခ) ဖုန်တာရွှင်။</p>
        <p class="text">&nbsp; &nbsp; &nbsp; လူမျိုး။		။ကိုးကန့်။</p>
        <p class="text">&nbsp; &nbsp; &nbsp; မွေးသက္ကရာဇ်။   ။ ၁၉၅၇ ခုနှစ် ဇူလိုင်လ (၁၆)ရက်။</p>
        <p class="text">&nbsp; &nbsp; &nbsp; မွေးရာဇာတိ။		။ကိုးကန့် ဟုန်ရှီထုတ်ဟော်ရွာ၊ ကိုးကန့် လောက်ကိုင်မြို့  ရှီအော်။</p>
        <p class="text">&nbsp; &nbsp; &nbsp;ရာထူး။		။ မြန်မာအမျိုးသား ဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော် （MNDAA）ဒု-စစ်ဦးစီမှုး၊ အထူးဒေသ(၁) ဘဏ္ဍာရေးမှူး၊မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော် (MNDAA)ဒု-စစ်ဦးစီးချုပ်၊   မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော်(MNDAA) စစ်ဦးစီးချုပ် စသည့် တာဝန်များကို ထမ်းဆောင်ခဲ့။  ၂၀၁၃ ခုနှစ်တွင် မြန်မာနိုင်ငံအမှန်တရားနှင့် တရားမျှတသော အမျိုးသားပါတီ(MNTJP) ၏ ယာယီအထွေအထွေအတွင်းရေးမှူး အဖြစ် ရွှေးချယ်တင်မြင့်ခံရ။ ၂၀၁၆ ခုနှစ်တွင် မြန်မာနိုင်ငံအမှန်တရားနှင့်တရားမျှတသော အမျိုးသားပါတီ(MNTJP)၏  အထွေအထွေအတွင်းရေးမှူး အဖြစ် စပြီး တာဝန်ထမ်းဆောင်။</p>
        <p class="text">&nbsp; &nbsp; &nbsp; ငယ်စဥ်အရွယ်တွင် ဟုန်ရှီထုတ်ဟော် မူလတန်းကျောင်းတွင် လည်းကောင်း၊ ၁၉၆၇ ခုနှစ် ဇူလိုင်လတွင် ဖခင် ဦးဖုန်ကြားရှင်နဲ့အတူ မိုင်းတွေဒေသ သို့ရောက်ရှိခဲ့ပြီး ဖုန်မူရှန်း အလယ်တန်းကျောင်းတွင် လည်းကောင်း၊ ၁၉၆၉ ခုနှစ်တွင် ကိုးကန့်သို့ ပြန်လာခဲ့ပြီး ဟုန်ချီအလယ်တန်းကျောင်းတွင်လည်းကောင်း၊ ၁၉၇၃ခုနှစ် ဒီဇင်ဘာလတွင် တရုတ်နိုင်ငံ၊ လင်ချန်းအမှတ် (၁) အလယ်တန်းကျောင်းတွင်လည်းကောင်း ပညာသင်ယူခဲ့ပါသည်။
          ၁၉၇၉ ထူထောင်ခဲ့ပြီး ဒု-နိုင်ငံရေးဌာနမှူး နှင့် ဆက်သွယ်ရေးဌာနမှူး တာဝန်များကို ထမ်းဆောင်ခဲ့ပါသည်။ ၁၉၉၃ ခုနှစ် ဇန်နဝါရီလ လကုန်ပိုင်းတွင် ဦးရန်မောက်လျှံ၏ ပုန်ကန်မှုကြောင့် ဖခင်ဦးဖုန်ကြားရှင်နှင့်အတူ ကိုးကန့် မှတစ်ဆင့် မိုင်းလားသို့ ဆုတ်ခွာခဲ့ပါသည်။ ထို့နောက် နောင်ချိုဒေသသို့ရောက်ရှိခဲ့ပြီး ရွှေပြည်ညွှတ်ရွာသစ် တည်ဆောက်ရေး လုပ်ငန်းများတွင် ပူးပေါင်းပါဝင်ခဲ့ကာ အုပ်ချုပ်ရေးကော်မတီ၏ ဒု-တာဝန်ခံ ရာထူးကို ထမ်းဆောင်ခဲ့ပါသည်။
          </p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၁၉၉၅ ခုနှစ် နိုဝင်ဘာလ လကုန်ပိုင်းတွင် တပ်ဖွဲ့ကိုဦးဆောင်ပြီး ကိုးကန့်သို့ပြန်လည်ရောက်ရှိလာကာ အထူးဒေသ၏ အုပ်ချုပ်ရေးစနစ် ပြန်လည်ဖော်ဆောင်ရေးဆိုင်ရာ လုပ်ငန်းများတွင် ပူးပေါင်းပါဝင်ခဲ့ပါသည်။ ၁၉၉၆ ခုနှစ် ဇန်နဝါရီလ (၁) ရက်နေ့တွင် MNDAA ဒု-စစ်ဦးစီမှူး၊ စစ်ရေးကော်မတီဝင်၊ ဘဏ္ဍာရေးဌာနမှူး တာဝန်များကို ထမ်းဆောင်ခဲ့ပါသည်။</p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၁၉၉၇ ခုနှစ် မတ်လ တွင် ဒု-စစ်ဦးစီချုပ် နှင့် ဘဏ္ဍာရေးဌာနမှူး၊ မူးယစ်ဆေးဝါးတိုက်ဖျက်ရေးကော်မတီ၏ တာဝန် ခံအဖြစ် တာဝန်ခန့်အပ်ခံရပြီး တရုတ်နိုင်ငံ၊ ဂျပန်နိုင်ငံ နှင့် စင်္ကာပူနိုင်ငံများသို့ သွားရောက်စူးစမ်းလေ့လာခဲ့ပါသည်။</p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၂၀၀၅ ခုနှစ်တွင် တပ်ဖွဲ့လုပ်ငန်းများကို  စတင်စီမံလာရပြီး အထူးဒေသစစ်ကျောင်း၏ ကျောင်းအုပ်တာဝန် ကို ထမ်းဆောင်ခဲ့ပြီး  “ကိုးကန့်” ဟူသောစာအုပ်ကို ဦးဆောင်ပြင်ဆင်ရေးသားခြင်း၊  ပြင်ပမှရောက်ရှိလာသောလူထုများ ကို ဘက်ပေါင်းစုံမှစီမံခန့်ခွဲခြင်း၊ စာပေအနုပညာဝါဒဖြန့်အဖွဲ့ထူထောင်ခြင်း၊ သတင်းဌာနတည်ဆောက်ခြင်း စသည့် လုပ်ငန်းများကို လုပ်ဆောင်ခဲ့ပါသည်။</p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၂၀၀၉ ခုနှစ် သြဂုတ်လ (၂၃) ရက်နေ့တွင် မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော် (MNDAA) စစ်ဦးစီးချုပ် တာဝန်ကို ထမ်းဆောင်ခဲ့သည်။</p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၂၀၀၉ ခုနှစ် သြဂုတ်လ (၂၉) ရက်နေ့တွင် တပ်ဖွဲ့ကိုဦးဆောင်ပြီး ကိုးကန့်မှ ဆုတ်ခွာခဲ့သည်။
            ကိုးကန့်နယ်ပြင်ပမှ တစ်ဆင့် MNDAA တပ်ဖွဲ့ဝင်ဟောင်းများကို ပြန်လည်စည်းရုံးပြီး ကိုးကန့်အထူးဒေသ(၁) ၏အုပ်ချုပ်ရေးကို ပြန်လည်ထူထောင်ရေးအတွက် ဆက်လက်ကြိုးပမ်းနေပါသည်။ 
          </p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၂၀၁၃ ခုနှစ် အောက်တိုဘာလ (၂၈)နေ့တွင် ကချင်လွတ်မြောက်ရေးအဖွဲ့ (KIO)၏ ဌာနချုပ်၌ ကျင်းပခဲ့သော “လိုင်ဇာထိပ်သီးညီလာခံ”ကို တက်ရောက်ခဲ့သည်။ ၄င်းညီလာခံသို့ တိုင်းရင်းသားလက်နက်ကိုင်အဖွဲ့ (၁၇)ဖွဲ့ မှ ခုနှစ်တွင် “ဝ” ပြည်သို့ သွားရောက်ခဲ့ပြီး မဟာမိတ်ဆက်ဆံ‌ရေးတာဝန်ကို ထမ်းဆောင်ခဲ့သည်။ ၁၉၈၇ ခုနှစ် တွင် သံလွင်မြစ်အနောက်ဘက်ခြမ်း‌ဒေသများ၏ အရေးပေါ်အခြေအနေများကြောင့် ဦး‌လေး ဦးဖုန်ကြားဖု နှင့် အတူ ကိုးကန့်သို့ ပြန်လည်ရောက်ရှိလာခဲ့ပြီး စစ်သားဟောင်းတပ်ဖွဲ့ ကို ဖွဲ့စည်းကာ အဖွဲ့အစည်းဆက်သွယ်ရေးတာ ဝန်ကို ထမ်းဆောင်ခဲ့သည်။ ထို့နောက် မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော် (MNDAA) ထူထောင် ရေးဆိုင်ရာလုပ်ငန်းများတွင် ပူးပေါင်းပါဝင်ခဲ့ပါသည်။</p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၁၉၈၉ခုနှစ် မတ်လ (၁၁)  ရက်နေ့တွင် မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော်(MNDAA) ကို 
            ခေါင်းဆောင်များတက်ရောက်ခဲ့ပြီး မြန်မာနိုင်ငံလွတ်လပ်ရေးရပြီးနောက် အခန့်ညားဆုံး၊ တိုင်းရင်းသားကိုယ် စားလှယ် တက်ရောက်မှုအစုံညီဆုံးသော ညီလာခံဖြစ်သည်ဟု မီဒီယာများကဆိုသည်။
            </p>
          <p class="text">&nbsp; &nbsp; &nbsp; ၂၀၁၅ ခုနှစ် ဖေဖော်ဝါရီလ (၉) ရက်နေ့တွင် MNDAA ကိုဦးဆောင်ပြီး ကိုးကန့်ပြန်လည်ထူထောင်ရေးတိုက်ပွဲကို စတင်တိုက်ခိုက်ခဲ့သည်။ ၂၀၂၁ ခုနှစ် မြန်မာ့တပ်မတော်မှ နိုင်ငံတော်အာဏာကိုသိမ်းယူလိုက်ပြီးနောက် ဦးဖုန်တဲရင် မှ မြန်မာနိုင်ငံအမှန်တရားနှင့်တရားမျှတသော အမျိုးသားပါတီ(MNTJP) နှင့် မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော် (MNDAA)ကို ဦးဆောင်ပြီး တိုင်းရင်းသားလက်နက်ကိုင်တော်လှန်ရေးအဖွဲ့အစည်းအသီးသီးတို့နှင့်အတူလက်တွဲကာ စစ်မှန်သောတိုင်းရင်းသားကိုယ်ပိုင်အုပ်ချုပ်ခွင့်ရဒေသဖော်ဆောင်ရေး နှင့် ထာဝရငြိမ်းချမ်းရေး တို့အတွက် ဆက်လက် ကြိုးပမ်းနေပါသည်။</p>
      </p>
       
        <div class="gallery1">
          <img width="500px" align="right" src="{% static 'images/WP-3.jpeg' %}" class="my-thumbnail img-thumbnail modified-mndaa-web" alt=""><img width="500px" src="{% static 'images/WP-3.jpeg' %}" class="my-thumbnail img-thumbnail modified-mndaa-mobile" alt="">
          <div class="desc"><p><small>ဖုန်းတဲကျွန်း - ပူးတွဲ စစ်ဦးစီးမှူး (Concurrently Chief of Staff)</small></p></div>
        </div>
        <p><b>ဒုတိယ စစ်ဦးစီးချုပ်</b></p>
        <p class="text"> &nbsp; ။ရန်ဝန်ကျိုး (ဗိုလ်ချုပ်) မြန်မာနိုင်ငံအမှန်တရားနှင့် တရားမျှတသော အမျိုးသားပါတီ၏ဒုတိယအတွင်းရေးမှူး၊ဖုန်းတဲကျွန်း(ဗိုလ်ချုပ်)မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော်(MNDAA)၏ပူးတွဲ စစ်ဦးစီးမှူး (Concurrently Chief of Staff)။		</p> 
        <p>ဖုန်းတဲကျွန်း - ပူးတွဲ စစ်ဦးစီးမှူး (Concurrently Chief of Staff)</p>
        <p><b>လှုပ်ရှား ‌ဒေသ</b></p>
        <p class="text"> &nbsp; &nbsp; &nbsp; ကိုးကန့်၊သံလွင်မြစ် အနောက်ဘက် မုံးကိုး (MengGu)၊ကွတ်ခိုင်၊မူပန် (သိန္နီး) (MuBang)စသည့် ဒေသ။</p>
        <p><b>လက်ရှိ တပ်အင်အား</b></p>
        <p class="text"> &nbsp; &nbsp; &nbsp; ၁၀၀၀၀ (တစ်သောင်း) (တပ်မဟာ ၄ ခု)</p>
        <p><b>နိုင်ငံရေး တောင်းဆိုချက်</b></p> 
        <p>&nbsp;&nbsp;&nbsp; ဒေသ  အဆင့်မြင့် ကိုယ်ပိုင်အုပ်ချုပ်ခွင့်ရရှိရေး အကောင်အထည်ဖော်ဆောင်ရန်၊ ဖက်ဒရယ်ဒီမိုကရေစီ ရရှိရေးကို အကောင်အထည်ဖော်ဆောင်ရန်။</p> 
        <p><b>တပ် ဝိသေသလက္ခဏာ</b></p>
        <p class="text">
          &nbsp;&nbsp;&nbsp;မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော်(MNDAA)သည် မြန်မာနိုင်ငံအမှန်တရားနှင့်တရားမျှတသောအမျိုးသားပါတီ(MNTJP)၏ခေါင်းဆောင်မှုအောက်တွင်ရှိသောပြည်သူ့တပ်မတော်တစ်ရပ်ဖြစ်သည်။တပ်ဖွဲ့ဝင်များကိုမြန်မာပြည်မြောက်ပိုင်းရှိလူမျိုးအသီးသီးဖြင့်ဖွဲ့စည်းထားပြီးမြန်မာပြည်ဖွား ဟန်တရုတ်လူမျိုး ၈၀ ရာခိုင်နှုန်း ပါဝင်သည်။

          မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော်(MNDAA)သည်မြန်မာနိုင်ငံရှိလူမျိုးအသီးသီးဖြင့်ဖွဲ့စည်းထားသည့်ပြည်သူ့လက်နက်ကိုင်အဖွဲ့အစည်းဖြစ်ပြီးMNDAA၏တော်လှန်ရေးလုပ်ငန်းစဥ်များကိုမြန်မာနိုင်ငံအမှန်တရားနှင့် တရားမျှတသောအမျိုးသားပါတီ(MNTJP)ကဦးဆောင်သည်။ MNTJP သည် မြန်မာနိုင်ငံ အနာဂတ်ကံကြမ္မာကို အလေးထားသော လူမျိုးအသီးသီး၏ ထူးချွန်သော သား၊သမီးများဖြင့်ဖွဲ့စည်းထားသည့် နိုင်ငံရေးပါတီဖြစ်ပြီးမြန်မာအမျိုးသားဒီမိုကရေစီတော်လှန်ရေး၏ခေါင်းဆောင်မှုဗဟိုဖြစ်သည်။ပါတီ၏ရည်မှန်းချက်ပန်းတိုင် မှာ ပြည်သူကို အစွမ်းကုန် ဝန်ဆောင်မှုပေးရန် ဖြစ်သည်။
          
          </p>
          <img width="500px" align="left" src="{% static 'images/MNDAA modified soldier.jpg' %}" class="my-thumbnail img-thumbnail" alt="">
  
          <p><b>ပါတီ၏ အန္တိမပန်းတိုင်</b></p>
          <p class="text"> &nbsp;&nbsp;&nbsp;  ပါတီ၏ အန္တိမ ပန်းတိုင်မှာ အမျိုးသား တန်းတူရေး ၊ စည်းလုံးညီညွတ်ရေးနှင့်ဒီမိုကရေစီကျသော ဖက်ဒရယ်စနစ် နိုင်ငံတော်ကို တည်ထောင်ရန်ဖြစ်ပြီး လူမျိုးအားလုံး ဂုဏ်သိက္ခရှိ ၊လွတ်လပ်ပြီး ပျော်ရွှင်သော ဘဝကို နေထိုင်နိုင်စေရန်ဖြစ်သည်။</p>
          <p><b>ပါတီ၏ ကြိုးပမ်းမှု ရည်မှန်းချက်</b></p>
          <p class="text">&nbsp;&nbsp;&nbsp; ပါတီ၏ ကြိုးပမ်းမှု ရည်မှန်းချက်မှာ လူတိုင်း တန်းတူရည်တူ ရှိရေး၊အမျိုးသား ကိုယ်ပိုင်အုပ်ချုပ်ခွင့် ရရှိရေး၊အမျိုးသား လွတ်လပ်မှု၊ယဥ်ကျေးမှု ၊ကြွယ်ဝအားကောင်မှု ရှိသော ဖက်ဒရယ်စနစ် နိုင်ငံတော်အား နှင့် ခေတ်မီဖွံ့ဖြိုးတိုးတက်သော နိုင်ငံတော်အား အကောင်အထည်ဖော်ဆောင်ရွက်ရန် ဖြစ်သည်။ လက်ရှိနှင့်အနာဂတ် အချိန်ကာလ၏ တာဝန်မှာ အမျိုးသားပြန်လည်သင့်မြတ်ရေး နှင့် ငြိမ်းချမ်းရေး လုပ်ငန်းစဉ်တို့တွင် တက်ကြွစွာ ပါဝင်ပြီး အင်အားစု အားလုံးကို စည်းလုံးကာ နိုင်ငံတော် ငြိမ်းချမ်းရေးကို အကောင်အထည်ဖော်ရန် နှင့်အထူး‌ဒေသ (၁) အဆင့်မြင့် ကိုယ်ပိုင်အုပ်ချုပ်ခွင့် နိုင်ငံရေးအာဏာကို ပြန်လည် ရယူရန် ဖြစ်သည်။</p>
          <p><b>ပါတီ၏ အခြေခံလမ်းကြောင်း။</b></p>
          <p class="text">&nbsp;&nbsp;&nbsp; ပါတီ၏အခြေခံလမ်းကြောင်းမှာ ပြည်သူကို အခြေခံ၍ ငြိမ်းချမ်းပြီး ဖွံ့ဖြိုးတိုး တက်ရေး လမ်းကြောင်းကို ‌လျှောက်လှမ်းရန်၊ထူးခြားသော အချိန်များတွင် လက်နက်ကိုင်တော်လှန်ရေး ဖြင့် နိုင်ငံတော်အား ကယ်တင်ရေး လမ်းကြောင်းကို ကျင့်သုံးရန် ဖြစ်သည်။</p>
          <p><b>ပါတီ၏ အခြေခံ မူဝါဒ </b></p>
          <p class="text">&nbsp;&nbsp;&nbsp;ပါတီ၏အခြေခံမှုဝါဒမှာ  မိမိကိုယ်ကိုမှီခိုအား ထားလုပ်ဆောင်ရန်၊ပြင်ပမှ အကူအညီများကို ရယူရန်၊နိုင်ငံရေး ဆွေးနွေးမှုနှင့် လက်နက်ကိုင်တိုက်ပွဲများကို ပေါင်းစပ်ရန် ဖြစ်သည်။

            မြန်မာအမျိုးသား ဒီမိုကရက်တစ် မဟာမိတ်တပ်မတော်(MNDAA)၊မြန်မာနိုင်ငံအမှန်တရားနှင့်တရားမျှတသော အမျိုးသားပါတီ (MNTJP)သည် ပင်လုံစာချုပ်ကို အခြေခံကာ လူမျိုးအားလုံးတန်းတူရည်တူအခွင့်အရေး
            နှင့်မြန်မာပြည်ဖွားတရုတ်လူမျိုးများ၏အခြေခံအကျိုးစီးပွားကိုကာကွယ်ရန်၊ဒီမိုကရေစီကျသော၊လွတ်လပ်သော၊တန်းတူရည်တူရှိသော၊သဟဇာတဖြစ်သော၊ယဥ်ကျေးမှုရှိသော၊သာယာဝပြောအားကောင်းသော၊လှပသောပြည်ထောင်စုမြန်မာနိုင်ငံတော်သစ်အား အတူအကွ တည်ဆောက်ရန် ထောက်ခံပါသည်။
            ။</p>
      
    </div>
  </div>
  <!-- end of body -->

  

  
  {% endblock content %}