{% extends 'frontend/my/layouts/master.html' %}
{% load static %}
{% block title %}
သတင်းများ
{% endblock title %}
{% block content %}
<div class="container upper-first upper-second" style="min-height:70vh">
  <div class="row">
    <!-- left side -->
    <div class="col-md-8">
      <!-- Party -->
      <div class="row">
        {% if last_post %}
        {% for post in last_post %}
        <div class="col-md-6">
          <div style="
              background-image: url({{post.image.url}});
              width: 100%;
              height: 400px;
            " class="bg-cover"></div>
        </div>

        <div class="col-md-6">
          <h5>
            {{post.title}}
          </h5>
          <p>
            {{post.discription|truncatechars:100|safe}}
          </p>
          <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i><small
            class="small-muted" style="color: #727272">Last updated {{post.created|timesince}}ago</small>
          <p>
            <small class="small-muted" style="color: #727272; font-weight: bold">{{post.get_category_display|upper}}</small>
          </p>
          <button class="btn btn-danger" style="
              background-color: #db3434;
              border: 1px solid #db3434;
              font-weight: 600;
            ">
            <a href="{% url 'frontend.my.detail' post.slug %}" class="none-text-decoration">Read More</a>
          </button>
        </div>
        {% endfor %}
        {% else %}
        <div class="my-5">
          <h1 class="text-danger">Sorry!</h1>
          <h3 class="p-3 my-3 bg-warning text-white">There is no posts.</h3>
        </div>
        {% endif %}
      </div>

      <div class="row mt-4">
        <!-- big card -->
        {% for post in last_two_post %}
        <div class="col-md-6">
          <div class="card text-bg-primary mb-3 card-red">
            <div class="card-image-top big-card-image" style="
                background-image: url({{post.image.url}});
              " alt=""></div>

            <div class="card-body">
              <h5 class="card-title">{{post.title|truncatechars:20}}</h5>
              <p class="card-text">
                {{post.discription|truncatechars:50|safe}}
              </p>

              <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i><small
                class="small-muted" style="color: #727272">Last updated {{post.created|timesince}} ago</small>
              <p>
                <small class="small-muted" style="color: #727272; font-weight: bold">{{post.get_category_display|upper}}</small>
              </p>
              <a href="{% url 'frontend.my.detail' post.slug %}"> <button class="btn btn-danger"
                  style="background-color: #db3434; border: 1px solid #db3434">
                  Read More
                </button></a>

            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end of big card -->
      </div>

      <div class="row">




        <!-- military card -->
        {% for post in last_three_post %}
        <div class="col-md-6 col-lg-4">
          <div class="card text-bg-primary mb-3 card-red">
            <div class="card-image-top military-card-image" style="
                background-image: url({{post.image.url}});
              " alt=""></div>
            <div style="width: 100%; height: 1px; background: rgba(0, 0, 0, 0.125)"></div>
            <div class="card-body">
              <h5 class="card-title military-card-title">{{post.title|truncatechars:20}}</h5>
              <p class="card-text military-card-text">
                {{post.discription|truncatechars:100|safe}}
              </p>
              <div class="military-card-time">
                <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i><small
                  class="small-muted" style="color: #727272">Last updated {{post.created|timesince}} ago</small>
                <p>
                  <small class="small-muted" style="color: #727272; font-weight: bold">{{post.get_category_display|upper}}</small>
                </p>
              </div>
              <a href="{% url 'frontend.en.detail' post.slug %}"> <button class="btn btn-danger"
                  style="background-color: #db3434; border: 1px solid #db3434">
                  Read More
                </button></a>
            </div>
          </div>
        </div>
        <!-- end of military card -->
        {% endfor %}
      </div>


    </div>
    <!-- end of left side -->

    <!-- right side -->

     {% if right_posts %}
     <!-- right side -->
     <div class="col-md-4">
      <div>
          <h4 style="color: white;background-color: #343172;" class="bold py-2">
            <span class="p-3">RECENT POSTS</span>
          </h4>
        </div>

        <!-- news -->
      <div class="row mt-4">
      {% for post in right_posts %}
          <div class="col-md-5 pb-2">
            <img src="{{post.image.url}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <a href="{% url 'frontend.en.detail' post.slug %}" title="Read More" class="card-text fs-6 small-news-text text-decoration-none text-title">{{post.title}}</a>
            <div class="military-card-time pt-3">
                <small class="small-muted" style="color:#727272;font-weight: bold;font-size: 12px">{{post.get_category_display|upper}}</small>
             <span class="float-end"> <i style="font-size: 13px;color:#727272;margin-right: 5px;" class="bi bi-clock"></i>
              <small class="small-muted" style="color:#727272">{{post.created|date:"M d, Y"}}</small></span>
            </div>
          </div>
          <hr />
        
        {% endfor %}
        
        <!-- end of news -->
        
    </div>
    <!-- end of right side -->
     {% endif %}
  </div>
    <!-- end of right side -->
  </div>
</div>
<!-- end of body -->

<!-- owl carousel -->
<div class="container">
  <div class="owl-carousel owl-theme">
    
    {% for post in all_posts %}
    <div class="item upper-image im4 mt-2">
      <!-- 4 card -->
      <div class="">
        <div class="card text-bg-primary mb-3 card-red" style="border: none">
          <div class="card-image-top military-card-image"
            style="height: 140px; background-image: url({{post.image.url}})" alt=""></div>
          <div style="width: 100%; height: 1px; background: rgba(0, 0, 0, 0.125)"></div>
          <div class="card-body text-center" style="padding-top: 0px; padding-bottom: 3px">
            <h5 class="card-title military-card-title mt-1">{{post.title|truncatechars:10}}</h5>
            <div class="military-card-time">
              <div style="margin-top: 15px">
                <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i>
                <small class="small-muted" style="color: #727272">Last updated {{post.created|timesince}}ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of 4 card -->
    </div>
    {% endfor %}
  
  </div>
</div>
<!-- end of owl carousel -->

</div>
<!-- end of footer -->

<!-- back icon -->
<a style="background-color: #db3434" href="#"
  class="back-to-top d-flex align-items-center justify-content-center active">
  <i style="color: white" class="bi bi-arrow-up-short"></i>
</a>
<!-- end of back icon -->

{% endblock content %}