{% load static %}
<div class="col-md-3">
    <div class="card mt-4" style="border-top: 0px;">         
      <div>
        <h4 align="center" style="background-color: #343172;" class="bold color-white pb-2 pt-2">OUR HISTORY</h4>
        <!-- history image -->
        <img alt="" class="img-thumbnail my-thumbnail p-0" src="{% static 'images/MNDAA.png' %}" style="margin-top: -8px;border-radius: 0px;"></img>
        <p style="font-size: 15px;" class="px-3"><span class="bold" style="font-size: 28px;">"</span>The group was formed on 12 March 1989, after the local Communist Party of Burma leader, Pheung Kya-shin (also spelt Peng Jia Sheng or Phone Kyar Shin), dissatisfied with the communist government, broke away and formed the MNDAA. Along with his brother, Peng Jiafu, they became the new unit in Kokang. The strength of the army is between 1,500 and 2,000 men.
          The rebels soon became the first group to agree to a ceasefire with the government troops. Thus the Burmese government refers to the Kokang region controlled by the MNDAA as "Shan State Special Region 1", indicating the MNDAA was the first group in the area of Shan State to sign a ceasefire agreement. After the ceasefire, the area underwent an economic boom, with both the MNDAA and regional Myanmar Armed Forces (Tatmadaw) troops profiting from increased opium harvests and heroin-refining. The area also produces methamphetamine. The MNDAA and other paramilitary groups control the cultivation areas, making them an easy target for drug trafficking and organised crime groups. The Peace Myanmar Group allegedly launders and reinvests MNDAA's drug profits into the legal economy.<a href="../aboutUs/history.html">read more</a></p>
        <!-- end of history image -->

        <h4 align="center" style="background-color: #343172;border-radius: 0px;" class="bold color-white pb-2 pt-2">FPNCC Member</h4>
        <!-- history image -->
        <img alt="" class="img-thumbnail my-thumbnail p-0" src="{% static 'images/FPNCC.png' %}" style="margin-top: -8px;border-radius: 0px;"></img>
        <p style="font-size: 15px;" class="px-3"><span class="bold" style="font-size: 28px;">"</span>Building Peace for all peoples of Myanmar, we are committed to establishing a genuine federal union in which the rights of self-determination, regional autonomy and equality are guaranteed."...he aim The aim of the FPNCC is to negotiate and consult with the government of Myanmar in order to resolve the world's longest ethnic conflict and civil war through a peaceful political means ... <a href="../alliance/fpncc.html">read more</a></p></p>
        <div class="row">
          <div class="col-4">
            <p align="center">
              <a href="">
                <img class="mb-2 img-thumbnail my-thumbnail" width="200px" src="{% static 'images/Arakan_Army_Flag_logo.png' %}" alt="">
              </a>
              <a href="">ULA/AA</a>
            </p>
          </div>
          <div class="col-4">
            <p align="center">
              <a href="">
                <img class="mb-2 img-thumbnail my-thumbnail" width="200px" src="{% static 'images/MNDAA_logo.png' %}" alt="">
              </a>
              <a href="">MNTJP/MNDAA</a>
            </p>
          </div><div class="col-4">
            <p align="center">
              <a href="">
                <img class="mb-2 img-thumbnail my-thumbnail" width="200px" src="{% static 'images/TNLA flag_logo.png' %}" alt="">
              </a>
              <a href="">PSLF/TNLA</a>
            </p>
          </div>
        </div>
        <!-- end of history image -->

        <h4 align="center" style="background-color: #343172;border-radius: 0px;" class="bold color-white pb-2 pt-2">Northern Alliance</h4>
        <!-- history image -->
        <img alt="" class="img-thumbnail my-thumbnail p-0" src="{% static 'images/Northern Alliance.jpg' %}" style="margin-top: -8px;border-radius: 0px;"></img>
        <p style="font-size: 15px;" class="px-3"><span class="bold" style="font-size: 28px;">M</span>orem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus molestias dignissimos nihil reiciendis nam doloribus. Tempora, vero iste dignissimos non, nesciunt, in velit neque unde odio ut eveniet deserunt nulla?amet consectetur adipisicing elit. Temporibus molestias dignissimos nihil reiciendis nam doloribus. Tempora, vero iste dignissimos non, nesciunt, in velit neque unde odio ut eveniet deserunt nulla?amet consectetur adipisicing elit. Temporibus molestias dignissimos nihil reiciendis nam doloribus. Tempora, vero iste dignissimos non, nesciunt, in velit neque unde odio ut eveniet deserunt nulla?</p>
        <!-- end of history image -->
      </div>
    </div>
  </div>